In [6]:
import pandas as pd

usdjpy = pd.read_csv("usdjpy_raw.csv")
gold = pd.read_csv("gold_raw.csv")
spx = pd.read_csv("spx_raw.csv")

unrate = pd.read_csv("UNRATE.csv")
cpi = pd.read_csv("CPIAUCSL.csv")
dgs2 = pd.read_csv("DGS2.csv")
dgs5 = pd.read_csv("DGS5.csv")
dgs10 = pd.read_csv("DGS10.csv")

usdjpy.rename(columns={"USDJPY=X": "usdjpy"}, inplace=True)
gold.rename(columns={"GC=F": "gold"}, inplace=True)
spx.rename(columns={"^GSPC": "spx"}, inplace=True)

unrate.rename(columns={"observation_date": "date", "UNRATE": "unrate"}, inplace=True)
cpi.rename(columns={"observation_date": "date", "CPIAUCSL": "cpi"}, inplace=True)
dgs2.rename(columns={"observation_date": "date", "DGS2": "dgs2"}, inplace=True)
dgs5.rename(columns={"observation_date": "date", "DGS5": "dgs5"}, inplace=True)
dgs10.rename(columns={"observation_date": "date", "DGS10": "dgs10"}, inplace=True)

for df in [usdjpy, gold, spx, unrate, cpi, dgs2, dgs5, dgs10]:
    df["date"] = pd.to_datetime(df["date"])

for df in [usdjpy, gold, spx, unrate, cpi, dgs2, dgs5, dgs10]:
    df.sort_values("date", inplace=True)

unrate = unrate.set_index("date").resample("D").ffill().reset_index()
cpi = cpi.set_index("date").resample("D").ffill().reset_index()

dgs2["dgs2"] = dgs2["dgs2"].ffill()
dgs5["dgs5"] = dgs5["dgs5"].ffill()
dgs10["dgs10"] = dgs10["dgs10"].ffill()

merged = usdjpy.merge(gold, on="date", how="inner")
merged = merged.merge(spx, on="date", how="inner")

merged = merged.merge(dgs2, on="date", how="left")
merged = merged.merge(dgs5, on="date", how="left")
merged = merged.merge(dgs10, on="date", how="left")

merged[["dgs2","dgs5","dgs10"]] = merged[["dgs2","dgs5","dgs10"]].ffill()

merged = merged.merge(unrate, on="date", how="left")
merged = merged.merge(cpi, on="date", how="left")

merged.reset_index(drop=True, inplace=True)

print("Missing values check:")
print(merged.isna().sum())

print("\nFirst 10 rows:")
print(merged.head(10))

Missing values check:
date       0
usdjpy     0
gold       0
spx        0
dgs2       0
dgs5       0
dgs10      0
unrate    54
cpi       54
dtype: int64

First 10 rows:
        date      usdjpy         gold          spx  dgs2  dgs5  dgs10  unrate  \
0 2017-01-03  117.495003  1160.400024  2257.830078  1.22  1.94   2.45     4.7
1 2017-01-04  117.658997  1163.800049  2270.750000  1.24  1.94   2.46     4.7
2 2017-01-05  117.112999  1179.699951  2269.000000  1.17  1.86   2.37     4.7
3 2017-01-06  115.264999  1171.900024  2276.979980  1.22  1.92   2.42     4.7
4 2017-01-09  117.150002  1183.500000  2268.899902  1.21  1.89   2.38     4.7
5 2017-01-10  115.985001  1184.199951  2268.899902  1.19  1.89   2.38     4.7
6 2017-01-11  115.872002  1195.599976  2275.320068  1.20  1.89   2.38     4.7
7 2017-01-12  115.098000  1198.900024  2270.439941  1.18  1.87   2.36     4.7
8 2017-01-13  114.664001  1195.300049  2274.639893  1.21  1.90   2.40     4.7
9 2017-01-17  114.152000  1212.000000  2267.889893  1.17  1.84   2.33     4.7

       cpi
0  243.618
1  243.618
2  243.618
3  243.618
4  243.618
5  243.618
6  243.618
7  243.618
8  243.618
9  243.618

In [7]:
merged.head(30)

,date,usdjpy,gold,spx,dgs2,dgs5,dgs10,unrate,cpi
0,2017-01-03,117.495003,1160.400024,2257.830078,1.22,1.94,2.45,4.7,243.618
1,2017-01-04,117.658997,1163.800049,2270.750000,1.24,1.94,2.46,4.7,243.618
2,2017-01-05,117.112999,1179.699951,2269.000000,1.17,1.86,2.37,4.7,243.618
3,2017-01-06,115.264999,1171.900024,2276.979980,1.22,1.92,2.42,4.7,243.618
4,2017-01-09,117.150002,1183.500000,2268.899902,1.21,1.89,2.38,4.7,243.618
5,2017-01-10,115.985001,1184.199951,2268.899902,1.19,1.89,2.38,4.7,243.618
6,2017-01-11,115.872002,1195.599976,2275.320068,1.20,1.89,2.38,4.7,243.618
7,2017-01-12,115.098000,1198.900024,2270.439941,1.18,1.87,2.36,4.7,243.618
8,2017-01-13,114.664001,1195.300049,2274.639893,1.21,1.90,2.40,4.7,243.618
9,2017-01-17,114.152000,1212.000000,2267.889893,1.17,1.84,2.33,4.7,243.618
10,2017-01-18,112.877998,1211.300049,2271.889893,1.23,1.93,2.42,4.7,243.618
11,2017-01-19,114.762001,1200.900024,2263.689941,1.25,1.97,2.47,4.7,243.618
12,2017-01-20,114.980003,1204.300049,2271.310059,1.20,1.95,2.48,4.7,243.618
13,2017-01-23,113.809998,1215.000000,2265.199951,1.16,1.88,2.41,4.7,243.618
14,2017-01-24,112.779999,1210.300049,2280.070068,1.21,1.94,2.47,4.7,243.618
15,2017-01-25,113.839996,1197.300049,2298.370117,1.23,1.99,2.53,4.7,243.618
16,2017-01-26,113.292999,1189.500000,2296.679932,1.21,1.95,2.51,4.7,243.618
17,2017-01-27,114.455002,1188.099976,2294.689941,1.22,1.94,2.49,4.7,243.618
18,2017-01-30,114.667999,1193.199951,2280.899902,1.22,1.94,2.49,4.7,243.618
19,2017-01-31,113.650002,1208.599976,2278.870117,1.19,1.90,2.45,4.7,243.618
20,2017-02-01,112.742996,1205.599976,2279.550049,1.22,1.93,2.48,4.6,244.006
21,2017-02-02,113.310997,1216.699951,2280.850098,1.21,1.92,2.48,4.6,244.006
22,2017-02-03,112.789001,1218.500000,2297.419922,1.21,1.93,2.49,4.6,244.006
23,2017-02-06,112.639000,1230.000000,2292.560059,1.16,1.86,2.42,4.6,244.006
24,2017-02-07,111.827003,1234.199951,2293.080078,1.16,1.85,2.40,4.6,244.006
25,2017-02-08,112.387001,1237.599976,2294.669922,1.15,1.81,2.34,4.6,244.006
26,2017-02-09,111.952003,1235.099976,2307.870117,1.20,1.88,2.40,4.6,244.006
27,2017-02-10,113.433998,1234.400024,2316.100098,1.20,1.89,2.41,4.6,244.006
28,2017-02-13,113.914001,1224.400024,2328.250000,1.20,1.92,2.43,4.6,244.006
29,2017-02-14,113.705002,1223.900024,2337.580078,1.25,1.98,2.47,4.6,244.006

In [8]:
merged.duplicated().sum()

np.int64(0)

In [9]:
merged.describe()

,date,usdjpy,gold,spx,dgs2,dgs5,dgs10,unrate,cpi
count,2288,2288.000000,2288.000000,2288.000000,2288.000000,2288.000000,2288.000000,2234.000000,2234.000000
mean,2021-07-25 09:11:19.720279808,124.998092,1935.899473,3998.932189,2.490066,2.581731,2.809069,4.555909,278.997246
min,2017-01-03 00:00:00,102.678001,1160.400024,2237.399902,0.090000,0.190000,0.520000,3.400000,243.618000
25%,2019-04-16 18:00:00,109.433998,1333.300018,2850.819946,1.290000,1.617500,1.780000,3.700000,254.277000
50%,2021-07-26 12:00:00,113.550999,1798.649963,3923.969971,2.500000,2.660000,2.820000,4.000000,270.654000
75%,2023-11-01 06:00:00,144.788998,2002.299957,4682.812378,3.970000,3.830000,4.022500,4.400000,307.276000
max,2026-02-17 00:00:00,161.606995,5318.399902,6978.600098,5.190000,4.950000,4.980000,14.800000,326.031000
std,NaN,18.531300,747.709417,1266.711981,1.589329,1.334299,1.200990,1.819050,27.520069